.entryscreen{
    height: 870px;
    padding-top: 70px;
    position: relative;
}
.entryscreen__text{
    margin-left: 405px;
    display: flex;
    flex-direction: row;
    gap: 220px;
}
.entryscreen__title{
    display: block;
    width: 540px;
}
.entryscreen__description{
    width: 350px;
    color: var(--Grey, #9497A1);
}
.entryscreen__background{
    margin-top: 90px;
    height: 590px;
    background: url(/img/entryscreenpic.jfif) 0px -110.456px no-repeat;
    background-size: cover;
}
.entryscreen__button{
    position: absolute;
    top: 210px;
    left: 1155px;
    width: 140px;
    height: 140px;
    background: url(/img/LearnMoreButtonCircle.svg) no-repeat;
    background-size: cover;
}
.features{
    display: flex;
    padding-top: 120px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 120px;
}
.features__headblock{
    height: 224px;
    width: 1110px;
    display: flex;
    gap: 30px;
}
.features__headblock-title{
    display: block;
    width: 540px;
    color: var(--Black, #292D33);
    font-family: Manrope;
    font-size: 57px;
    font-style: normal;
    font-weight: 800;
    line-height: 65.5px;
    letter-spacing: -0.855px;
}
.features__headblock-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.features__headblock-description{
    display: block;
    width: 540px;
    color: var(--Grey, #9497A1);
}
.features__descriptionblock{
    display: flex;
    height: 740px;
    align-items: center;
    padding-right: 388px;
    gap: 46px;
    background: var(--Background, #F1F6FA);
}
.features__descriptionblock-image{
    display: block;
    width: 929px;
    height: 740px;
    background: url(/img/features.jfif) lightgray -849.959px -237.672px / 198.634% 166.442% no-repeat;
    transform: scaleX(-1);
}
.features__descriptionblock-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.features__descriptionblock-title{
    display: block;
    width: 540px;
    color: var(--Black, #292D33);
}
.features__descriptionblock-description{
    display: block;
    width: 540px;
    color: var(--Grey, #9497A1);
}
.metrics{
    height: 620px;
    padding-top: 120px;
    display: flex;
    justify-content: center;
}
.metrics__wrap{
    width: 1110px;
    height: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.metrics__title{
    display: block;
    width: 920px;
    color: var(--Black, #292D33);
    text-align: center;
}
.metrics__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.metrics__statisctics{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.metrics__statistics-block{
    display: flex;
    flex-direction: column;
    width: 159px;
    gap: 10px;
}
.metrics__statistics-number{
    color: var(--Primary, #185CFF);
    font-family: Open Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -1.25px;
}
.metrics__statistics-description{
    color: var(--Grey, #9497A1);
}
.metrics__description{
    width: 540px;
    color: var(--Grey, #9497A1);
}
.metrics__clientlogo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.metrics__clientlogo-img{
    width: 185px;
    height: 132px;
}
.benefits{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: var(--Background, #F1F6FA);
}
.benefits__wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 1110px;
    height: 822px;
}
.benefits__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.benefits__title{
    color: var(--Black, #292D33);
}
.benefits__description{
    display: block;
    width: 540px;
    color: var(--Grey, #9497A1);
}
.benefits__cards{
    width: 540px;
    height: 582px;
    position: relative;
}
.benefits__cards-wrap{
    position: absolute;
    display: flex;
    width: 255px;
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    border-radius: 6px;
    background: #FFF;

    /* Shadow_card_2 */
    box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
}
.benefits__card1{
    top: 0;
    left: 0;
}
.benefits__card2{
    top: 56px;
    left: 285px;
}
.benefits__card3{
    top: 278px;
    left: 0px;
}
.benefits__card4{
    top: 334px;
    left: 285px;
}
.benefits__card-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.benefits__card-title{
    color: var(--Black, #292D33);
}
.benefits__card-description{
    color: var(--Grey, #9497A1);
}
.testimonials{
    margin: 120px auto;
    width: 1110px;
    height: 494px;
    position: relative;
}
.testimonials__title{
    position: absolute;
    top: 17px;
    color: var(--Black, #292D33);
}
.arrow__buttons{
    position: absolute;
    top: 0;
    right: 0;
    display: inline-flex;
    align-items: flex-start;
    gap: 15px;
}
.arrow__button{
    padding: 15px 40px;
    border-radius: 20px;
    background: var(--Tertiary, #F0F9FF);
}
.testimonials__cards{
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
}
.testimonials__card{
    display: flex;
    width: 350px;
    padding: 35px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    background: #FFF;

    /* Shadow_card_3 */
    box-shadow: 0px 4px 12px 0px rgba(12, 68, 204, 0.10);
}
.testimonials__card-person{
    display: flex;
    align-items: center;
    gap: 25px;
}
.testimonials__card-person__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.testimonials__card-person__name{
    color: var(--Black, #292D33);
}
.testimonials__card-person__position{
    color: var(--Grey, #9497A1);
}
.testimonials__card-description{
    color: var(--Grey, #9497A1);
}
.pricing{
    margin: 120px auto;
    width: 1110px;
    height: 631px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.pricing__title{
    color: var(--Black, #292D33);
}
.pricing__cards{
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
}
.pricing__card{
    display: flex;
    width: 255px;
    height: 525px;
    padding: 35px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 6px;
    background: #FFF;

    /* Shadow_card_3 */
    box-shadow: 0px 4px 12px 0px rgba(12, 68, 204, 0.10);
}
.pricing__card-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.pricing__card-title{
    color: var(--Black, #292D33);
}
.pricing__card-priceblock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.pricing__card-price{
    display: block;
    width: 123px;
    color: var(--Black, #292D33);
    font-family: Manrope;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px; /* 153.846% */
    letter-spacing: -0.39px;
}
.pricing__card-price__selection{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
}
.pricing__card-price__selection-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    padding: 4px 10px;
    border-radius: 6px;
    background: var(--Primary, #185CFF);
    color: #FFF;
    text-align: center;
}
.pricing__card-button{
    display: flex;
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 6px;
    background: var(--Primary, #185CFF);
    color: #FFF;
}
.pricing__card-services{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}
.pricing__card-service{
    display: flex;
    align-items: center;
    gap: 7px;
    align-self: stretch;
}
.pricing__card-service-info{
    color: var(--Black, #292D33);
}
.blog{
    position: relative;
    width: 1110px;
    height: 605px;
    margin: 120px auto;
}
.blog__title{
    position: absolute;
    top: 17px;
    left: 0;
}
.blog__cards{
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    top: 123px;
    left: 0;
}
.blog__card{
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.blog__card-image{
    width: 350px;
    height: 200px;
    border-radius: 6px;
}
.blog__card-info{
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.blog__card-date{
    color: var(--Grey, #9497A1);
}
.blog__card-title{
    color: var(--Black, #292D33);
}
.blog__card-description{
    color: var(--Grey, #9497A1);
}
.blog__card-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.blog__card-link__text{
    color: var(--Primary, #185CFF);
}
.blog__card-link__arrow{
    width: 20px;
    height: 20px;
    background: url(/img/icon_arrow__right.svg);
}
.contact{
    display: flex;
    padding: 100px 0px;
    justify-content: center;
    align-items: center;
    background: var(--Background, #F1F6FA);
}
.contact__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.contact__title{
    color: var(--Black, #292D33);
    text-align: center;
}
.contact__description{
    display: block;
    width: 540px;
    color: var(--Grey, #9497A1);
    text-align: center;
}
.subscribe{
    position: relative;
    height: 306px;
    background: var(--Secondary, #002B4E);
}
.subscribe__text{
    position: absolute;
    top: 80px;
    left: 405px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.subscribe__title{
    display: block;
    width: 511px;
    color: #FFF;
}
.subscribe__description{
    display: block;
    width: 540px;
    color: #FFF;
}
.subscribe__form{
    position: absolute;
    top: 126px;
    left: 1070px;
}
.subscribe__form-input{
    width: 445px;
    height: 54px;
    border-radius: 6px;
    background: var(--helper-blue-3, #C9DCEC);
    border: 0;
    padding-left: 25px;
}
.subscribe__form-input::placeholder{
    color: var(--Black, #292D33);
}
.subscribe__form-input:focus{
    outline: 0;
}
.subscribe__form-submit{
    position: absolute;
    right: 0;
    color: var(--Black, #292D33);
    width: 125px;
    height: 54px;
    border-radius: 6px;
    background: #FFF;
    border: 0;
}
.separate-line{
    position: absolute;
    bottom: 0;
    display: block;
    height: 1px;
    background: #607D94;
}